@import url('https://fonts.googleapis.com/css2?family=Diphylleia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

.font-tangerine {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
}

.font-playfair {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-playfair-800 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.font-diphylleia {
  font-family: "Diphylleia", serif;
  font-weight: 400;
  font-style: normal;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-inter-900 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.cut-text {
  text-box: trim-both cap alphabetic;
}

.card::after,
.card::before {
  content: "";
  position: absolute;
  inset: -3px;
  background-image: conic-gradient(from var(--angle, 0deg), transparent 50%, yellow);
  z-index: -1;
  border-radius: 4px
}

.card:before {
  filter: blur(1.5rem);
  opacity: 0.5;
}